<div class="container">
  <div class="row">
    <h1 class="center-align">MAC0218</h1>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <button class="btn">
        Create a problem
      </button>
    </div>
  <% end %>
</div>
