<%= javascript_pack_tag 'sign_in' %>
<%= content_tag :div, 
  id: "sign-in-data", 
  "data-is-user-signed-in": user_signed_in?,
  "data-token": form_authenticity_token   do %>
<% end %>

<div id="sign-in-container">
</div>
